---
layout: null
---

/* Assume 1rem=16px */

p a {
  text-decoration: underline;
}

.footer-custom-content p {
  margin-top: 0;
  margin-bottom: 0;
}

footer a {
  color: #404040;
  text-decoration: none;
}

.navbar-custom .navbar-brand-logo img,
.navbar-custom.top-nav-short .navbar-brand-logo img,
.navbar-custom.top-nav-short-permanent .navbar-brand-logo img {
  height: 1.2rem;
}

.navbar-custom {
  border-bottom-color: {{ site.navbar-col | default: "#EAEAEA" }};
}
.navbar-custom.top-nav-short, .navbar-custom.top-nav-expanded {
  border-bottom-color: {{ site.navbar-border-col | default: "#DDDDDD" }};
}

/* Support button in navbar */
.navbar-custom .navbar-nav li a[href*="github.com/sponsors"] {
  color: hotpink;
  transition: background 300ms, color 300ms;
}
.navbar-custom .navbar-nav li a[href*="github.com/sponsors"]:hover {
  background: hotpink;
  color: #3344bb;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-nav .nav-item:not(.dropdown):last-child .nav-link {
    padding-right: 1rem;
  }
}

/* Buttons */

.actionbtn {
  display: inline-block;
  margin: 0.5rem 0;
  font-family: arial;
  text-align: center;
  vertical-align: middle;
  padding: 0.9375rem 3rem;
  border-radius: 5rem;
  background: #4fc949;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: none;
}
.actionbtn:hover,
.actionbtn:focus {
  background: #3fb13a;
  color: #fff;
}

.actionbtn .far {
  margin-right: 0.3125rem;
}

.btn[disabled] {
  cursor: not-allowed;
}
